body{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 2fr 6.5fr 1.5fr;
    height: 100vh;
    font-family: sans-serif;
    /*min-height tambien se usa mucho*/
}
header{
    grid-row: 1;
    grid-column: 1/4;

    text-align: center;
    background-color:rgb(225, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    grid-row: 2;
    grid-column: 1;

    background-color:rgb(198, 196, 196);
    padding: 10px;
}
main{
    grid-row: 2;
    grid-column: 2;

    background-color:rgb(167, 165, 165);

}
aside{
    grid-row: 2;
    grid-column: 3;

    background-color:rgb(198, 196, 196);
    padding: 10px;

}


footer{
    grid-row: 3;
    grid-column: 1/4;

    text-align: center;
    background-color:rgb(225, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;

}
/*
footer{
    grid-area:foo;
    }
*/