* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
main{    
    display: grid;    
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 4fr 2fr 4fr;    
    grid-template-areas:
        "hea"
        "nav"
        "sec"
        "asi"
        "foo";

    color: white;
    height: 100vh;

}

header {
    background-color: blueviolet;
    grid-area: hea;
}
nav {
    background-color: cornflowerblue;
    grid-area: nav;

}
section {
    background-color: indigo;
    grid-area: sec;
}
aside {
    background-color: darkmagenta;
    grid-area: asi;
}
footer {
    background-color: darkorchid;
    grid-area: foo;
}

/* MENOR DE 1000px */
@media (min-width: 600px) {
    main{        
        grid-template-columns: 30% 70%;
        grid-template-rows: 1.5fr 1fr 3fr 1fr;    
        grid-template-areas: 
        "hea hea"
        "nav nav"
        "asi sec"
        "foo foo";
    }
   
}


/* MAYOR O IGUAL A 1000px */
@media (min-width: 1000px) {
  main{
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 3fr 5fr 1fr;    
        grid-template-areas: 
            "hea hea hea"
            "nav sec asi"
            "foo foo foo";        
        margin: 0 auto; /*centrarlo horizontalmente*/
        max-width: 1000px; /*para los bordes blancos laterales*/
    }
}

